<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connect 4 </title>
  <script type="text/javascript" >
  
  </script>

  <style>
 
  </style>
</head>

<body>
<button type="button" id="hangman"><a href="/hangman_game">hangman</a></button>
<button type="button" id="connect4" ><a href="/connect4">connect 4</a></button>
</body>

</html>
